h2 {
    margin: 2rem 0 1rem 1rem;
    color: white;
}

.card-no {
    height: $cardHeigth;
    width: $cardWidth;
    @include info-structure;
    @include flex-center;
    flex-direction: column;
    font-size: larger;
    font-weight: bold;
}

.card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 1rem;

    ul {
        list-style: none;

        li {
            line-height: 1.5rem;
        }
    }

    .card-yes {
        margin-right: 0.3rem;
        position: relative;

        .card-info {
        @include info-structure;
        overflow-y: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 20;
        filter: opacity(0);
        transition: all 0.5s;

            .star-icon {
                color: yellow;
            }
        }

        .card-poster {
            background-color: black;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                color: white;
            }
        }

        &:hover .card-info{
            filter: opacity(0.8);
        }

        .info-button {
            margin: 1rem auto;
            padding: 0.5rem 1rem;
            background-color: dodgerblue;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

        }

        .info-section {
            margin-bottom: 1rem;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    .card-commons {
        height: $cardHeigth;
        width: $cardWidth;
    }
}

// scrollbar
::-webkit-scrollbar {
    width: 2px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #696969;
    cursor: pointer;
}