@mixin info-structure {
    padding: 4rem 0.5rem;
    background-color: black;
    color: white;
    border: 5px solid white;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}